
.success {
  margin-top: 20px;
  padding: 18px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  display: block;
  font-size:20px;
}



.main {
  margin-left: 300px; 
  padding: 0px 10px;
  position: relative;
  margin-bottom: 100px;
}


.navbar-custom {
  background-color: #333; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #fff;
}

.sidebar {
  background-color: #333; 
  color: #fff; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding-top: 60px; 
 
}

.sidebar a {
  margin-top: 20px;
  /* padding: 10px 15px; */
  display: block;
  text-decoration: none;
  color: #fff; 
  
}

.form-title {
  margin-bottom: 20px;
}
  .form-control {
  margin-bottom: 15px;
}
 
  
.col-md-8 {
  border:1px solid black; 
}

h2{
  text-align: center;
}

.sidebar a{
  font-size:20px ;
}

